.board {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 0;
    background-image:
        linear-gradient(to right, var(--fg-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--fg-secondary) 1px, transparent 1px);
    border: 1px solid var(--fg-secondary);
}

.dot {
    position: absolute;
    z-index: 1;
    overflow: none;
    background-color: var(--fg-primary);
    pointer-events: none;
}
